.App {
  /* background-color: #2a0042; */
  /* background-color: #222; */
  /* background-color: #004f8c; */
  background-color: #2e002e;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

.mainBody {
  margin-top: 0;
}

/* My color styles pallete
#2e002e
#fbfbfb
#596475
#a31621
#dc493a
*/
